# Virtual Environment
venv/
env/
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.sof
.Python
migrations
# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
migrations/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# VS Code
.vscode/
.idea/

# Logs
logs/
*.log

# Database
*.db
*.sqlite3

# OS specific files
.DS_Store
Thumbs.db
